<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><%= link_to "Edit", edit_post_path(post) %></p>
  <p><%= link_to "Delete", post_path(post), method: :delete %></p>
<% end %>
